@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-bree: 'Bree Serif', serif;
}

/* Animasi Marquee Teks Berjalan */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: 200%;
  animation: marquee 15s linear infinite;
}